
@model WebAppl.Models.Lieferant
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Lieferant bearbeiten</h4>
    </div>
    <form id="UpdateLieferant" action="@Url.Action("Details", "Lieferanten")" method="POST">
        @Html.HiddenFor(model => model.LieferantId);
        @Html.HiddenFor(model => model.Lieferantennummer);
        @Html.HiddenFor(model => model.UserId);


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Lieferantennummer)
            </dt>
            <dd>
                @Html.DisplayTextFor(model => model.Lieferantennummer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lieferantenname)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Lieferantenname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Straße)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Straße)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PLZ)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.PLZ)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ort)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.Ort)
            </dd>

        </dl>
        <div class="form-group">
            <input type="submit" value="Speichern" class="btn btn-default" />
        </div>
    </form>

</div>


<script type="text/javascript">

    // Lieferantendatei hochladen
    $('#UpdateLieferant').submit(function (e) {
        e.preventDefault(); // stop the standard form submission

        $.ajax({
            url: this.action,
            type: this.method,
            data: new FormData(this),
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                //Modal schließen
                $('#LieferantenModelDialog').modal('hide');

                // refresh der Lieferanten
                $('#Lieferanten').load('/Lieferanten/Index');

            },
            error: function (xhr, error, status) {
                // Danke IIS fürs Verschlucken meines Statustextes; sollte produktiv die Meldung aus der Action liefern
                // $('#LieferantenUploadResult').html(xhr.statusText);
            }
        });
    });
</script>